@model Ranta.AjaxFormDemo.Models.NewModel

@{
    ViewBag.Title = "New";
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function confirm() {
            console.log("1 - confirm");
            return true;
        }
        function begin() {
            console.log("2 - begin");
        }
        function success() {
            console.log("3 - success");
        }
        function failure() {
            console.log("4 - failure");
        }
        function complete() {
            console.log("5 - complete");
        }
    </script>
}

@using (Ajax.BeginForm(new AjaxOptions
{
    OnBegin = "begin",
    Confirm = "confirm",
    OnComplete = "complete",
    OnFailure = "failure",
    OnSuccess = "success",
    LoadingElementId = "loading",
    LoadingElementDuration = 3000,
    UpdateTargetId = "target"
}))
{
    <div class="form-horizontal">
        <h4>NewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "22222", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div id="loading" class="form-group" style="display:none">
            <img src="/img/loading.gif" />
        </div>
        <div id="target">
            <p>this ia target.</p>
        </div>
    </div>
}

<div>
    @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
</div>